*{
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif; 
    color: #5678EF; 
 }

 .file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  

#contenido{
    position: relative;
    left: 50%;
    top: 10%;
}

#Texto{
    position: relative;
    left: 50%;
    top: 0%;
    margin: 20px;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: #5678EF;  
}
